.agentbar{
    text-align: center;
padding-top: 33.3%;
}
#brimstone{
    height: 9.6%;
    width: 9.6%;
    background-color: orange;
}


#fade{
    height: 10%;
    width:  10%;
    background-color: red;
    
}
#kayo{
    height: 10%;
    width:  10%;
    background-color: cyan;
}

#killjoy{
    height: 10%;
    width:  10%;
    background-color: bisque;
}
#viper{
    height: 10%;
    width:  10%;
    background-color:rgb(23, 202, 23) ;

}
#sova{
    height: 10%;
    width:  10%;
    background-color: gold; 
}


