
#brimstone{
    height: 48%;
    width: 48%;
    
}

#fade{
    height: 48%;
    width:  48%;
    
    
}
.brimfade{
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    
}

#kay0{
    height: 48%;
    width:  48%;
}

#killjoy{
    height: 48%;
    width:  48%;

}
.kayjoy{
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    
}
#phoneix{
    height: 48%;
    width:  48%;

}
#sage{
    height: 48%;
    width:  48%; 
}
.phxsage{
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;

}   

.topnav{
    background-color: black;
    overflow: hidden;}

    .topnav a{
        color: #ffc0cb;
        float: left;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        
     }