.agentbar{
    text-align: center;
padding-top: 33.3%;
}
#brimstone{
    height: 9.6%;
    width: 9.6%;
    background-color: black;
}


#fade{
    height: 10%;
    width:  10%;
    background-color: black;
    
}
#kayo{
    height: 10%;
    width:  10%;
    background-color: black;
}

#killjoy{
    height: 10.3%;
    width:  10.3%;
    background-color: black;
}
#viper{
    height: 10.1%;
    width:  10.1%;
    background-color: black;
}
#sova{
    height: 9.7%;
    width:  9.7%;
    background-color: black; 
}
body{
    background-image: linear-gradient(white,pink,cyan);
    height:100vh
}
