
 .title{
    background-color: aquamarine;
 }
#title1{
    background-color: pink;

}
body{
    background-image: linear-gradient(white,pink,cyan);
    height:100vh
}
#button{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 200%;
    margin: 20% 0% 0% 40%;
    width: 20%;
    height: 10%;
    
}
#button a{
    text-decoration: none;
    color: black;
}
