
.firstrow{
    padding-left: 20%;
    padding-top: 0%;
}
.brim1{
    width: 20%;
    float: left;
}
.brim2{
    width: 65%;
    float: right;
    padding-top: 7%;
}
#ascend{
    width: 30%;
    height: 30%;
}
#bind{
    width: 30%;
    height: 30%;
}
#breeze{
    width: 30%;
    height: 30%;
    
}
#fracture{
    width: 30%;
    height: 30%;
}
#haven{
    width: 30%;
    height: 30%;
    
}
#icebox{
    width: 30%;
    height: 30%;
}
 #title{
    padding-left: 45%;
}
 #pearl{
    width: 30%;
    height: 30%;
}
 #split{
    width: 30%;
    height: 30%;
}
h1{
    font-family: Impact;
    

}
body{
    background-image: linear-gradient(white,pink,cyan);
    height:100vh
}