
/*================================================================*/

#ascend{
    width: 30%;
    height: 30%;
    padding-right: 10%;
}
#ascend :hover{
    opacity: 0.3;
}
.firstrow{
    padding-left: 24%;
    padding-top: 10%;
}
#bind{
    width: 30%;
    height: 30%;
}

/*================================================================*/

#breeze{
    width: 30%;
    height: 30%;
    padding-right: 10%;
}
.secondrow{
    padding-left: 24%;
    padding-top: 2%;
}
#fracture{
    width: 30%;
    height: 30%;
}

/*================================================================*/

#haven{
    width: 30%;
    height: 30%;
    padding-right: 10%;
}
.thirdrow{
    padding-left: 24%;
    padding-top: 2%;
}
#icebox{
    width: 30%;
    height: 30%;
}
 #title{
    padding-left: 45%;
 }
 #ascend :hover{
    background-color: blueviolet;
 }
 
 /*================================================================*/


 #pearl{
    width: 30%;
    height: 30%;
    padding-right: 10%;
 }
 .fourthrow{
    padding-left: 24%;
    padding-top: 2%;
 }
 #split{
    width: 30%;
    height: 30%;
 }