
.firstrow{
    padding-left: 20%;
    padding-top: 0%;
}
#ascend{
    width: 25%;
    height: 25%;
}
#bind{
    width: 25%;
    height: 25%;
}
#breeze{
    width: 25%;
    height: 25%;
    
}
#fracture{
    width: 25%;
    height: 25%;
}
#haven{
    width: 25%;
    height: 25%;
    
}

#icebox{
    width: 25%;
    height: 25%;
}
 #title{
    padding-left: 45%;
}
 #pearl{
    width: 25%;
    height: 25%;
}
 #split{
    width: 25%;
    height: 25%;
}
h1{
    font-family: Impact;
    

}
body{
    background-image: linear-gradient(white,pink,cyan);
    height:100vh
}